body {
  font-family: METAL,sans-serif;
  font-weight: 300;
  font-size: 20px;
}

p {
  margin: 2px;
}

:root {
  --transparent:hsla(0,0%,100%,0.9);
  --text-white:#fff;
  --text-black:#000;
  --text-red: #A08006;
  --button-grey:#131313;
}

@font-face {
  font-family: METAL;
  src: url("./metalpro.woff") format("woff")
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px !important;
  }
}